.book-image {
    height: 250px ;
    padding: 0px 115px;
    align-items: center;
}

.book-title {
    padding: 10px 15px;
    text-align: center;
}


.individual-book {
    display: inline-block;
    width: 400px; 

}