nav {
    flex: 80%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    align-items: center;
    background-color: #004643;
    padding: 10px 20px;
}

nav .rightside {
    justify-content: flex-end;    
}

