nav {
    flex: 80%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    align-items: center;
    background-color: #004643;
    padding: 5px 20px;
}

.nav-rightside {
    padding: 0px 30px;
    color: white;
    text-decoration: none;

}

img {
    justify-content: right;
    padding-right: 810px;
    height: 50px;
    float: left
}

Link {
    text-decoration: none;
}